.imgLogo{
    width:100px;
    margin:auto;
}
.Homeheader{
    text-align: center;
    background-color: lightskyblue;
}
.CardBackground{
    position: relative;
    width:auto;
    height: auto;
    background-color: lightskyblue;
    padding-top:2%;
    margin-top: auto;
    h1{
        color: black;
        font-family:verdana;
    }
    h3{
        color: black;
        font-family:verdana;
    }
    p{
        color:black;
        font-family:courier;
    }
}
.Background{
    padding-top: 2%;
    width:100%;
    height:100%;
    background-color: darkseagreen;
}