ion-header{
  background-color:lightskyblue
}
  .imgLogo{
    width:100px;
    margin:auto;
  }
.activitiesBackground{
  padding: 1px;
  margin: auto;
  width:100%;
  height:100%;
  background-color: lightsteelblue;
}
ion-select {
  width: 100%;

  justify-content: center;
}
.slidesBack{
  width:700px;
  height:100%;
}
.ActivitiesCards{
  padding-top: 0px;
  margin-top:auto;
  width:100%;
  height:auto;
  background-color: lightsteelblue;
}

.map{
  position: relative;
  left:40%;
  top:15%;
  font-size: 100px;
  color:black;
  opacity:80%;
 }
 
.card{
  background-color: lightyellow;
  position: relative;
  margin-top:30%;
}
.cards{
  background-color: lightyellow;

}