<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button menu="main-menu" slot="start"> <ion-icon name="menu" ></ion-icon></ion-menu-button>

    <div class="imgLogo">
      <img src="./LogoMakr-52eUU7.png" alt="">
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        
        <ion-icon name="heart" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="activitiesBackground">
  <form #form="ngForm" (ngSubmit)="getValues(form)">
    <ion-card style="background-color: lightyellow;">
      <h1 style="text-align: center;">Activities</h1>
     <h1 style="text-align: center;">Ανακάλυψε την Δραστηριότητα που σου Αρέσει στο ταξίδι σου στην Β.Ελλάδα.</h1>
      <ion-item>
        <ion-label>Περιοχή </ion-label>
        <ion-icon name="map" slot="start"></ion-icon>
        <ion-select  okText="Ok" cancelText="Cancel" name="Location" ngModel required>
          <ion-select-option *ngFor="let user of OnlyCitiesactivities" >{{user.city}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card>

  </form>
  <div class="background">
<div class="ActivitiesCards">
  <div *ngFor="let header of OnlyCitiesactivities" >
    <div *ngIf="form.value.Location==header.city">
      <h1 style="text-align: center;"> Welcome to {{ header.city}}</h1><br>
          <ion-icon name="location" class="map"></ion-icon>
    
    </div>
    
  </div>
      <form #form="ngForm" (ngSubmit)="getActivity(form)">
        <div class="ActicitiesCards">
        <ion-card *ngFor="let user of Allactivities" (click)="openDetailsWithQueryParams(user)">
        <div *ngIf="form.value.Location==user.city">
        <img src='{{user.image}}'/>
        <ion-card-header >
          <ion-card-subtitle value="city-address">{{user.city}}, {{ user.address}} </ion-card-subtitle>
          <ion-card-title value="name">{{user.activity_name}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content value="comments">
         {{user.comments}}
        </ion-card-content>
        <ion-button type="submit" expand="block" color="dark"  (click)="openDetailsWithQueryParams(user)" >Περισσότερα...</ion-button>
      </div>
      </ion-card>
    </div>
    </form>
</div>

</div>
</div>
</ion-content>

<ion-footer>
  <ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom" >
      <ion-tab-button routerLink="/home" color="primary">
      <ion-icon name="Home"></ion-icon>
      <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/hotels">
      <ion-icon name="bed"></ion-icon>
      <ion-label>Hotels</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/cars">
      <ion-icon name="car"></ion-icon>
      <ion-label>Rent a Car</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/activities">
        <ion-icon name="american-football" color="primary"></ion-icon>
        <ion-label>Activities</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
     </ion-tabs>
    </ion-toolbar>
</ion-footer>