.reset-password{
    padding-top: 50px;
    width:100%;
    height: 100%;
    background-color:rgb(69, 133, 158);
}
.imgLogo{
    width:100px;
    margin:auto;
}
.Homeheader{
    text-align: center;
    background-color:lightskyblue
  }