<ion-header [translucent]="true" class="Homeheader">
  <ion-toolbar>
    <div class="imgLogo">
      <img src="./LogoMakr-52eUU7.png" alt="">
    </div>
    <ion-buttons slot="start">
      <ion-button  [routerLink]="['/sign-up']" color="dark"> Sign Up</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/login']" color="dark"> Log In</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="reset-password">
  <form #form="ngForm" (ngSubmit)="resetPassword(form)" >
    <h1 style="text-align: center;">Forgot Your Password?</h1>
    <p>We will send you an email to your email acount that you have at NoBinG</p>
    <div>
      <ion-item>
        <ion-input name="email" type="email" placeholder="Write your NoBinG Email" ngModel required></ion-input>
      </ion-item>
   
      <div style="text-align:center;margin:auto;">
        <ion-button type="submit" [disabled]="form.invalid">Reset Now</ion-button>
      </div>
    </div>
  </form>
</div>
</ion-content>