<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-menu-button menu="main-menu" slot="start"> <ion-icon name="menu" ></ion-icon></ion-menu-button>

    <div class="imgLogo">
      <img src="./LogoMakr-52eUU7.png" alt="">
    </div>
   
  </ion-toolbar>
</ion-header>

<ion-content>

   <ion-list>  
      <img src="./LogoMakr-52eUU7.png" >
      <h1 style="text-align: center;"> Σχετικά Με Εμάς..</h1>
      <p style="text-align:center;">Το ΝoBinG(North Booking) , είναι μια εφαρμογή που ίσως είναι ο καλύτερος προσωπικός 
        ξεναγός για τα ταξίδια σας . 
        Έχει δημιουργηθεί για να σας βοηθήσει να οργανώσετε τις διακοπές σας στην Β. Ελλάδα.
         Η εφαρμογή αυτή , μπορεί να σας παρέχει διάφορες ταξιδιωτικές πληροφορίες , και πιο συγκεκριμένα σας δίνει την δυνατότητα να επιλέξετε ξενοδοχεία ,
          εστιατόρια και μουσεία της περιοχής που επιθυμείτε, καθώς και να κλείσεις τραπέζι ή εισιτήριο αντίστοιχα.
           Ακόμη , εάν χρειαστείς κάποιο όχημα για να ξεναγηθείς σε οποιαδήποτε περιοχή της Β.Ελλάδας στην οποία βρίσκεσαι ,
            θα σε βοηθήσει με τον καλύτερο δυνατό τρόπο για να βρεις το όχημα που επιθυμείς. Τέλος , 
            υπάρχουν διάφορες δραστηριότητες που μπορείς να επιλέξεις και να κάνεις τις διακοπές σου ξεχωριστές και εποικοδομητικές.</p>
  </ion-list>
  
</ion-content>
<ion-footer>
  <ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom" >
      <ion-tab-button routerLink="/home" color="primary">
      <ion-icon name="Home"></ion-icon>
      <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/hotels">
      <ion-icon name="bed"></ion-icon>
      <ion-label>Hotels</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/cars">
      <ion-icon name="car"></ion-icon>
      <ion-label>Rent a Car</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/activities">
        <ion-icon name="american-football"></ion-icon>
        <ion-label>Activities</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
     </ion-tabs>
    </ion-toolbar>
</ion-footer>