ion-list{
    margin:auto;
    background-color:lightgoldenrodyellow;
    width:100%;
    height:100%;
}
ion-header{
  background-color:lightskyblue
  }
  .imgLogo{
    width:100px;
    margin:auto;
  }
  img{
      margin:auto;
  }