.imgLogo{
    width:100px;
    margin:auto;
}
.loginBackground{
    padding-top: 50px;
    width:100%;
    height:130%;
    background-color:rgb(69, 133, 158);
}
ion-item{
    opacity:80%;
}

.imgForm{
    margin:auto;
    width:150px;
}
.Homeheader{
    text-align: center;
    background-color:lightskyblue;
}