.imgLogo{
    width:100px;
    margin:auto;
  // background-image: url('./LogoMakr-52eUU7.png');
}
ion-header{
    background-color:lightskyblue;
}
.restauranBackground{
  padding: auto;
  width:100%;
  height:100%;
  background-color:lightcyan;
}
.restaurantCards{
  height: 130%;
  background-color:lightcyan;
}
