.imgLogo{
    width:100px;
    margin:auto;
  // background-image: url('./LogoMakr-52eUU7.png');
}
ion-header{
    background-color:lightskyblue;
}
.restauranBackground{
  padding: auto;
  width:100%;

  background-color:lightcyan;
}

.RestaurantBackground{
  position: relative;
  padding:2%;
  width:100%;
  
  background-color:lightcyan;
}
.map{
  position: relative;
  left:40%;
  top:15%;
  font-size: 100px;
  color:black;
  opacity:80%;
 }
 .map1{
  position: relative;
  font-size: 25px;
  color:black;
  opacity:80%;
 }
 .SearchCard{
   margin-top: 40%;
   background-color:lightsteelblue
 }
 .cards{
   background-color: lightsteelblue;
   margin-top: 1%;
 }
