
    .imgLogo{
      width:100px;
      margin:auto;
    }
.CardBackground{
    position: relative;
    width:auto;
    height: auto;
    background-color: lightskyblue;
    padding-top:2%;
    margin-top: auto;
}
.cards{
  background-color: lightyellow;
  
}
.map{
  position: relative;
  font-size: 25px;
  color:black;
  opacity:80%;
 }
.HeaderBackground{
  background-color: lightskyblue;
}
  