<ion-header [translucent]="true"  class="HeaderBackground">
  <ion-toolbar>
    <ion-menu-button menu="main-menu" slot="start"> <ion-icon name="menu" ></ion-icon></ion-menu-button>

    <div class="imgLogo">
      <img src="./LogoMakr-52eUU7.png" alt="">
    </div>
   
  </ion-toolbar>

</ion-header>

<ion-content>
<div class="background">
  <ion-card *ngIf="data" class="cardBackground">
    <ion-card-header>
      <img src='{{data.image}}'/>
      <ion-card-title value="name" style="text-align: center;">{{data.office_name}}</ion-card-title>
   
      <p style="text-align: left;"> <ion-icon name="navigate" class="map"></ion-icon> {{data.City}}</p>
      <p style="text-align: left;"> <ion-icon name="location" class="map"></ion-icon> {{data.address}}</p>
      <p style="text-align: left;">    <ion-icon name="mail" class="map"></ion-icon> {{data.email}}</p>
      <p style="text-align: left;"> <ion-icon name="call" class="map"></ion-icon> {{data.phone}}</p>
      <p style="text-align: left;"><ion-icon name="logo-web-component" class="map"></ion-icon> Website: <a href="{{data.site}}">{{data.office_name}}</a></p>
    </ion-card-header>

  </ion-card>

    <form #form="ngForm" >
   <ion-card class="cardBackground">
    <ion-item>
      <ion-label>Check-In</ion-label>
      <ion-icon name="calendar" slot="start"></ion-icon>
      <ion-datetime  min="2021" max="2023"
      [dayShortNames]="customDayShortNames"
      displayFormat="DDD. MMM DD, YYYY"
      monthShortNames="January, February, March, April, May, June, July, August, September, Oktober, November, December" name="checkIn" placeholder="Check-In" ngModel required></ion-datetime>
    </ion-item> 
    <ion-item>
    <ion-label>Check-Out</ion-label>
    <ion-icon name="calendar" slot="start"></ion-icon>
    <ion-datetime  min="2021-01" max="2023"
      [dayShortNames]="customDayShortNames"
      displayFormat="DDD. MMM DD, YYYY"
      monthShortNames="January, February, March, April, May, June, July, August, September, Oktober, November, December" name="checkOut" placeholder="Check-Out" ngModel required></ion-datetime>
    </ion-item>
      <ion-item>
        <ion-label>Όχημα </ion-label>
        <ion-icon name="bicycle" slot="start"></ion-icon>
        <ion-select name="oxhma"  okText="Ok" cancelText="Cancel"  ngModel required>
          <ion-select-option *ngFor="let user of CarCategories" >{{user.category}}</ion-select-option>
        </ion-select >
      </ion-item>
    </ion-card>
  </form>
  


  <div class='AllVehicles'>
     
    <ion-card *ngFor="let user of AllVehicle"  class="cardBackground" >
      <div *ngIf="form.value.oxhma==user.category">
      <img src='{{user.image}}'/>
      <ion-card-header >
        <ion-card-title name="marka" > {{ user.marka}}</ion-card-title>
      </ion-card-header>
      
      <p style="text-align: left;" name="type"><ion-icon name="car" class="map"></ion-icon> Τύπος Οχήματος: {{user.category}}</p>       
      <p style="text-align: left;" name="price"> <ion-icon name="pricetags" class="map"></ion-icon> Τιμή ανά Ημέρα: {{user.price}} €</p>       
      <ion-button (click)="openDetailsWithQueryParams(data,form,user)" expand="block" color="dark" >Επίλεξε</ion-button>

      </div>
      </ion-card>
      
  </div>
 
</div>
</ion-content>

<ion-footer>
  <ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom" >
      <ion-tab-button routerLink="/home" color="primary">
      <ion-icon name="Home"></ion-icon>
      <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/hotels">
      <ion-icon name="bed"></ion-icon>
      <ion-label>Hotels</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/cars">
      <ion-icon name="car" color="primary"></ion-icon>
      <ion-label>Rent a Car</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/activities">
        <ion-icon name="american-football"></ion-icon>
        <ion-label>Activities</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
     </ion-tabs>
    </ion-toolbar>
</ion-footer>
