.imgLogo{
    width:100px;
    margin:auto;
  }
ion-card{
  background-color:lightgray;
}
.CarsBackground{
  background-color: lightgray;
}
.background{
  padding-top: 2%;
  width:100%;
  background-color: lightseagreen;
}
.map{
  position: relative;
  font-size: 25px;
  color:black;
  opacity:80%;
 }
 .HeaderBackground{
   background-color: lightskyblue;
 }