<ion-header [translucent]="true" >
  <ion-toolbar>
    
    <ion-menu-button menu="main-menu" slot="start"> <ion-icon name="menu" ></ion-icon></ion-menu-button>
    
    <div class="imgLogo">
      <img src="./LogoMakr-52eUU7.png" alt="">
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        
        <ion-icon name="heart" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content >
  <div class="museumBackground">
  <form #form="ngForm" (ngSubmit)="getValues(form)">
    <ion-card style="background-color: lightyellow;">
      <h1 style="text-align: center;">Musuems</h1>
     <h1 style="text-align: center;">Επισκέψου τα Σημαντικότερα Μουσεία της Β.Ελλάδας</h1>
      <ion-item>
        <ion-label>Περιοχή </ion-label>
        <ion-icon name="Location" slot="start"></ion-icon>
        <ion-select  okText="Ok" cancelText="Cancel" name="Location" ngModel required>
          <ion-select-option *ngFor="let user of CitiesOfMuseums" >{{user.city}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card>

  </form>
  
    <div *ngFor="let header of CitiesOfMuseums" >
      <div *ngIf="form.value.Location==header.city">
          <h1 style="text-align: center;"> Welcome to {{ header.city}}</h1>
          <ion-icon name="location" class="map"></ion-icon>
      </div>
       </div>
  
       <form #form="ngForm" (ngSubmit)="getValues(form)" >
        <ion-card *ngFor="let user of Allmuseums" (click)="openDetailsWithQueryParams(user)" style="background-color:lightsteelblue">
        <div *ngIf="form.value.Location==user.city">
          <img src="{{user.image}}" alt="">
          <h1 style="text-align: center;">{{user.museum_name}}</h1>
          <p style="text-align: left;"> <ion-icon name="pricetag"></ion-icon>Τιμή:{{user.price}}</p>
          <p style="text-align: left;"> <ion-icon name="location"></ion-icon> Διεύθυνση: {{user.address}}</p>
          <p style="text-align: left;"> <ion-icon name="star-half"></ion-icon>  Πόλη: {{user.city}}</p>
          <p style="text-align: left;"> Ιστοσελίδα: <a href="{{user.site}}"> {{user.museum_name}}</a></p>
          <p style="text-align: left;"> <ion-icon name="call"></ion-icon> {{user.phone}}</p>

          <ion-button type="submit" expand="block"color="light" (click)="openDetailsWithQueryParams(user)" >Περισσότερα</ion-button>
        
      </div>
      </ion-card>
    </form>

  </div>

  
</ion-content>

<ion-footer>
  <ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom" >
      <ion-tab-button routerLink="/home" color="primary">
      <ion-icon name="Home"></ion-icon>
      <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/hotels">
      <ion-icon name="bed"></ion-icon>
      <ion-label>Hotels</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/cars">
      <ion-icon name="car"></ion-icon>
      <ion-label>Rent a Car</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/activities">
        <ion-icon name="american-football"></ion-icon>
        <ion-label>Activities</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
     </ion-tabs>
    </ion-toolbar>
</ion-footer>


