ion-header{
    background-color:lightskyblue;
  }
  .imgLogo{
    width:100px;
    margin:auto;
  }
.museumBackground{
  padding:5px;
  width:100%;
  padding: auto;
  margin-left: auto;
  background-color: lightcoral;
}
.museumList{
  background-color:lightgray;
}
.museumBackgroundList{
  width:100%;
  position: relative;
  height:auto;
  padding-left: auto;
  margin-left: auto;
  margin: auto;
  background-color: lightcoral;
}
.museumCards{
  background-color: lightgray;
}
.map{
  position: relative;
  left:40%;
  top:15%;
  font-size: 100px;
  color:black;
  opacity:80%;
 }
