.imgLogo{
    width:100px;
    margin:auto;
}
.Homeheader{
    text-align: center;
    background-color:lightskyblue;
}
.background{
    background-color:darkgrey;
    width: 100%;
    height: auto;
    padding-top: 1%;
}
.formBackground{
    width:100%;
    height:auto;
    background-color:darkkhaki;
    
}
.formBackground1{
    padding-top: 1%;
    margin-top: 2%;
    width:100%;
    height:auto;
    background-color:darkkhaki;
}

