<ion-header [translucent]="true" class="Homeheader">
  <ion-toolbar>
    <div class="imgLogo">
      <img src="./LogoMakr-52eUU7.png" alt="">
    </div>
    <ion-buttons slot="start">
      <ion-button  [routerLink]="['/restaurant-results']" color="dark"> Back</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="Background">
    <form #form="ngForm" (ngSubmit)="ReservedRestaurants(form)">
  <ion-card *ngIf="data">
    <div class="CardBackground">
    <h1 style="text-align: center;">Στοιχεία Κράτησης</h1>
   <h3 style="text-align: center;">Στοιχεία Χρήστη</h3>
   <p>Όνομα: {{user.firstname}}</p>
   <p>Επώνυμο:{{user.surname}}</p>
   <p>Email : {{user.mail}}</p>
   <h3 style="text-align: center;">Στοιχεία Εστιατορίου</h3>
    <p>Όνομα Εστιατορίου: {{data.restaurant_name}}</p>
    <p>Τοποθεσία Εστιατορίου: {{data.city}}</p>
    <p>Τηλέφωνο: {{data.phone}}</p>
    <p> Ημερομηνία: {{date}}</p>
    <p> Αριθμός Ατόμων: {{restaurants.people}}</p>
    <ion-button type="submit" expand="block" color="dark" >Κράτηση</ion-button>
  </div>
  </ion-card>
  </form>
</div>
</ion-content>
