<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-menu-button menu="main-menu" slot="start"> <ion-icon name="menu" ></ion-icon></ion-menu-button>

    <div class="imgLogo">
      <img src="./LogoMakr-52eUU7.png" alt="">
    </div>
    
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="BackgroundPanel">
    <form #form="ngForm" (ngSubmit)="getValues(form)">
    <ion-card class="card">
      <h1 style="text-align: center;">Rent A Car</h1>
     <h1 style="text-align: center;"> Μπορείς να βρεις όποιο όχημα επιθυμείς στην περιοχή που βρίσκεσαι.Έυκολα και Γρήγορα!</h1>
      <ion-item>
        <ion-label>Περιοχή </ion-label>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-select  okText="Ok" cancelText="Cancel" name="Location" ngModel required>
          <ion-select-option *ngFor="let user of OnlyCitiesOffice" >{{user.City}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card>

  </form>
  <div *ngFor="let header of OnlyCitiesOffice" >
    <div *ngIf="form.value.Location==header.City">
    <h1 style="text-align: center;"> Welcome to {{ header.City}}</h1>
    <ion-icon name="location" class="map1"></ion-icon>
  </div>
  </div>

  <form #form="ngForm" (ngSubmit)="getValues(form)">
    <ion-card *ngFor="let user of AllCarOffice" (click)=" openDetailsWithQueryParams(user)" class="cards">
    <div *ngIf="form.value.Location==user.City">
    <img src='{{user.image}}'/>
  
      <ion-card-title value="name" style="text-align: center;">{{user.office_name}}</ion-card-title>
   
      <p style="text-align: left;"> <ion-icon name="navigate" class="map"></ion-icon> {{user.City}}</p>
      <p style="text-align: left;"> <ion-icon name="location" class="map"></ion-icon> {{user.address}}</p>
      <p style="text-align: left;">    <ion-icon name="mail" class="map"></ion-icon> {{user.email}}</p>
      <p style="text-align: left;"> <ion-icon name="call"class="map"></ion-icon> {{user.phone}}</p>
      <p style="text-align: left;"><ion-icon name="logo-web-component"class="map"></ion-icon> Website: <a href="{{user.site}}">{{user.office_name}}</a></p>

      <ion-button type="submit" expand="block" color="dark"  (click)=" openDetailsWithQueryParams(user)" >Περισσότερα...</ion-button>
  </div>
  </ion-card>
</form>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom" >
      <ion-tab-button routerLink="/home" color="primary">
      <ion-icon name="Home"></ion-icon>
      <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/hotels">
      <ion-icon name="bed"></ion-icon>
      <ion-label>Hotels</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/cars">
      <ion-icon name="car" color="primary"></ion-icon>
      <ion-label>Rent a Car</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/activities">
        <ion-icon name="american-football"></ion-icon>
        <ion-label>Activities</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
     </ion-tabs>
    </ion-toolbar>
</ion-footer>