.imgLogo{
    width:100px;
    margin:auto;
}
ion-header{
    background-color:lightskyblue;
}

.BackgroundPanel{
    padding: 5px;
    margin: auto;
    width:100%;
    
    background-color: lightseagreen;
}
.CarsCards{
  position: relative;
    padding: 5px;
    margin: auto;
    width:100%;
    height:auto;
    background-color: lightseagreen;
  }
  .carClass{
    text-align: left;
  }
  .listBackground{
    width:100%;
    background-color: mintcream;
    h3{
      text-align: center;
    }
  }
  .map1{
    position: relative;
    left:40%;
    top:15%;
    font-size: 100px;
    color:black;
    opacity:80%;
   }
   .map{
    position: relative;
    font-size: 25px;
    color:black;
    opacity:80%;
   }
  .imgLogo{
    background-image: url('./LogoMakr-52eUU7.png');
  }
  .card{
    background-color:lightgray;
        position: relative;
    margin-top: 30%;
  }
  .cards{
   background-color:lightgray;
  }
