ion-header{
  background-color:lightskyblue;
}
.title{
  color:darkslategray;
}
.masters{
  margin:0px;
  padding:1px;
  background-color: darkgray;
}
.imgLogo{
  width:100px;
  margin:auto;
}
.listBackground{
  width:100%;
  background-color: mintcream;
  h3{
    text-align: center;
  }
}
ion-content{
  height:10%
}
.HotelCards{
  width:100%;
  margin-bottom:auto;
  background-color: lightsteelblue;
}
.carCard{
  background-color: lightsteelblue;
}
.activitiesCard{
  background-color: lightyellow;
}