ion-header{
    background-color:lightskyblue;
  }
    .imgLogo{
      width:100px;
      margin:auto;
    }
.CardBackground{
    position: relative;
    width:100%;
    
    background-color:darkgrey;
    padding-top:2%;
    margin-top: auto;
}
.FormDetails{
  position: relative;
  width:100%;
  
  background-color:darkgrey;
  padding-top:2%;
  margin-top: auto;
}
.map1{
  position: relative;
  font-size: 25px;
  color:black;
  opacity:80%;
 }
 .HeaderBackground{
  background-color: lightskyblue;
}