.textPanel{
    text-align: center;
    margin-top: 50px;
}
.buttonPanel{
    text-align: center;
    margin: auto;
    margin-top:50px;
}
.BackgroundPanel{
   
    padding-top: 50px;
    width:100%;
    height:100%;
    background-color:darkcyan
}
img{
    width:300px;
    margin:auto;
}
.logo{
  // background-image: url('./LogoMakr-52eUU7.png');
}
